body{
    background-color:beige;
}
#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;

}
button{
    font-size: 1.25em;
    padding: 7px;
    border-radius: 10px;
    border: none;
    background-color: #81cbcd;
    cursor: pointer;
    
}

button:hover{
    background-color: #42b4b8;
}
#diceNumber{
    width: 150px;
    border-radius: 5px;
    font-size: 1.15em;
}
#diceImage{
    margin: 20px;
}
#diceImage img{
    margin: 4px;
    width: 90px;
}
