body{
    background-color: chocolate;
    font-size: 1.5em;
}
#container{
    text-align: center;

}
#passLength{
    border-radius: 5px;
    width: 300px;
    font-size: 20px;
    margin-left: 9px;

}
#button{
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    background-color: rgb(107, 215, 179);
    padding: 7px;
}

#button:hover{
    background-color: rgb(41, 215, 157);
    
}

#copy{
    border-radius: 10px;
    font-size: 20px;
    padding: 7px;
    margin: 20px;
    cursor: pointer;
    
    background-color: beige;
}

#copy:hover{
    background-color: rgb(204, 204, 153);
}

#rescontainer{
    text-align: center;
    
}